includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    configDirectories:
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Unsafe usage of new static#'

        # For MediaLibraryPro dependencies
        - "#MediaLibraryPro\\\\#"
